#custom-navbar {
    opacity: .8;
}
#custom-navbar .nav a{
    font-size: 16px;
    margin-left: 20px;
}
#custom-navbar .nav .active>a{
    background: transparent;
    color: #f65a8a;
} 
#custom-navbar .nav a:hover{
    color: #f65a8a;
}